<template lang="pug">

  .playcards-page
    .row.justify-content-end
      .col-12.col-lg-6.col-xl-4
        .top-links
          .top-link
            add-playcard-button(@add="onCardAdded")
          .top-link
            router-link(:to="{ name: 'cards.buy' }") {{ $t('cards.buy_cards') }}
    playcards(ref="playcardsComponent")

</template>

<script>
export default {
  methods: {
    async onCardAdded () {
      this.$refs.playcardsComponent.load();
    }
  }
}
</script>
