<template lang="pug">

  card.small.mx-auto(:title="$t('password_reset.title')")
    password-reset(:token="token")

</template>

<script>
import Form from 'vform'

export default {
  metaInfo () {
    return { title: this.$t('reset_password') }
  },

  data: () => ({
    token: null
  }),
  
  created() {
    this.token = this.$route.params.token
  }
}
</script>
