<template lang="pug">

  a.add-package-button(v-if="product", href="#", @click.prevent="click")
    .cost-value ${{ product.cost }}
    template(v-if="product.bonus")
      .bonus-value +${{ product.bonus }}
      .bonus-text If you load your card with ${{ product.cost }}, get an extra ${{ product.bonus}}

</template>

<script>
import PackageService from '../services/package';

export default {
  name: 'add-package-button',

  props: ['id'],

  async created() {
    const packageObject = await PackageService.get(this.id);
    this.product = {
      cost: Number(packageObject.product.cost),
      bonus: Number(packageObject.product.play_bonus_added)
    };
  },

  data: () => ({
    product: null
  }),

  methods: {
    click () {
      this.$store.dispatch('addPackage', { packageId: this.id, quantity: 1 });
      this.$router.push({ name: 'cards.buy' });
    }
  }
}
</script>
