<template lang="pug">

  button.btn(:type="nativeType", :disabled="loading", @click="click", :class="{ 'btn-block': block, 'btn-lg': large, 'btn-sm': small, 'btn-loading': loading }")
    .spinner-container
      transition(name="button-fade" mode="out-in")
        .spinner(v-show="loading")
      slot

</template>

<script>
export default {
  name: 'v-button',

  props: {
    nativeType: {
      type: String,
      default: 'submit'
    },

    loading: {
      type: Boolean,
      default: false
    },

    block: Boolean,
    large: Boolean,
    small: Boolean,
  },

  methods: {
    click () {
      this.$emit('click');
    }
  }
}
</script>
