<template lang="pug">

  .email-verification-component(v-if="checked")
    .success(v-if="success") {{ $t('email_verification_succeeded') }}
    .error(v-else="") {{ $t('email_verification_failed') }}

</template>

<script>
import axios from 'axios';

export default {
  name: 'email-verification',

  props: ['token', 'email'],

  data: () => ({
    checked: false,
    success: true
  }),
  
  async created() {
    try {
        await axios.get(`${window.config.baseUri}/api/email-verification/${this.token}?email=${this.email}`);
    } catch (e) {
        this.success = false;
    }
    this.checked = true;
  },
}
</script>
