<template lang="pug">

  .form-group(:class="{'is-invalid': form.errors.has(name)}")
    label(v-if="label", :class="{ required: required }") {{ label }}
    slot
    has-error(:form="form", :field="name")

</template>

<script>
export default {
  name: 'form-group-row',

  props: ['form', 'label', 'name', 'required']
}
</script>
