<template lang="pug">
  
  input(v-model="form[name]", :type="type", :name="name", :min="min",
    :class="['form-control', {'is-invalid': form.errors.has(name)}]", :readonly="readonly", :placeholder="placeholder", :autocomplete="autocomplete")

</template>

<script>
export default {
  name: 'form-input',
  props: {
    form: {},
    name: {},
    type: {default: 'text'},
    min: {},
    readonly: {},
    placeholder: {},
    autocomplete: {},
  }
}
</script>
