<template lang="pug">

  modal(v-if="form.successful", @close="close")
    .v-modal-title
      slot(name="title")
    .v-modal-message
      slot(name="message")
    .v-modal-buttons
      slot(name="buttons")

</template>

<script>
export default {
  name: 'form-success-modal',

  props: ['form'],

  methods: {
    close() {
      this.form.successful = false;
      this.$emit('close');
    }
  }
}
</script>
