<template lang="pug">

  .login-component
    form(@submit.prevent="login", @keydown="form.onKeydown($event)", :class="{ 'has-errors': form.errors.any() }")
      form-group-row(:form="form", :label="$t('login.email')", name="email")
        form-input(:form="form", name="email", type="email", :placeholder="$t('login.email_placeholder')")
      form-group-row.password(:form="form", :label="$t('login.password')", name="password")
        form-input(:form="form", name="password", type="password", :placeholder="$t('login.password_placeholder')")
      .form-group.no-check
        a.form-link(href="#", @click.prevent="showForgotPasswordModal = true") {{ $t('login.forgot_password') }}
      .form-group.no-check
        v-button.btn-default(:loading="form.busy", block) {{ $t('login.submit') }}

    modal(v-if="showForgotPasswordModal", @close="showForgotPasswordModal = false")
      form(@submit.prevent='reset', @keydown='formResetPassword.onKeydown($event)', :class="{ 'has-errors': formResetPassword.errors.any() }")
        .v-modal-title {{ $t('forgot_password.title') }}
          .subtitle {{ $t('forgot_password.subtitle') }}
        .v-modal-message
          form-group-row(:form="formResetPassword", name="email")
            form-input(:form="formResetPassword", name="email", type="email", :placeholder="$t('forgot_password.email_placeholder')")
        .v-modal-buttons
          v-button.btn-primary(:loading="formResetPassword.busy") {{ $t('forgot_password.submit') }}

    form(@submit.prevent='resend', @keydown='formResendPassword.onKeydown($event)')
      form-success-modal(:form="formResetPassword")
        template(slot="title") Success!
        template(slot="message") Now check your email for instructions on how to reset your password.
        template(slot="buttons")
          v-button.btn-primary(:loading="formResendPassword.busy") Resend email

    form-success-modal(:form="formResendPassword")
      template(slot="title") Success!
      template(slot="message") We have emailed your password reset link!
      template(slot="buttons")
        router-link.btn.btn-primary(:to="{ name: 'sign-in' }") Sign in

</template>

<script>
import Form from 'vform'

export default {
  name: 'login',

  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    showForgotPasswordModal: false,
    formResetPassword: new Form({
      email: ''
    }),
    formResendPassword: new Form({
      email: ''
    })
  }),

  methods: {
    async login () {
      const { data } = await this.form.post(`${window.config.baseUri}/api/login`)

      this.$store.dispatch('saveToken', {
        token: data.token
      })

      await this.$store.dispatch('fetchUser')

      this.$router.push({ name: 'cards' })
    },

    async reset () {
      await this.formResetPassword.post(`${window.config.baseUri}/api/password/email`);
      this.showForgotPasswordModal = false;
    },

    async resend () {
      this.formResendPassword.email = this.formResetPassword.email;
      await this.formResendPassword.post(`${window.config.baseUri}/api/password/email`);
      this.formResetPassword.successful = false;
    }
  }
}
</script>
