<template lang="pug">

  transition(name='v-modal')
    .v-modal-mask
      .v-modal-wrapper(@click="close")
        .v-modal-container(:class="containerClass", @click.stop="")
          button.v-modal-close-button(@click.prevent="close")
          .v-modal-body
            slot default

</template>

<script>
export default {
  name: 'modal',
  props: ['container-class'],
  methods: {
    close() {
      this.$emit('close');
    },
    keyUp(event) {
      if (event.keyCode === 27) {
        this.close();
      }
    }
  },
  created: function() {
    document.addEventListener('keyup', this.keyUp);
  },
  destroyed: function() {
    document.removeEventListener('keyup', this.keyUp);
  }
}
</script>
