<template lang="pug">

  .navbar-component
    .w-nav(:class="{clearnavigation: isTop, darknavigation: !isTop}")
      a.brand.w-nav-brand(:href="bigthrillfactory()")
        img(src="/images/BigThrillFactoryLogo.png")
      .w-container
        .menubutton.w-nav-button(data-ix='menu-to-x', @click="showMenu = !showMenu")
          .line1
          .line2
          .line3
      nav.navmenu.top.w-nav-menu(:class="{ 'hide-menu': !showMenu }")
        .newmenu-flex
          .bottomlinks
            a.navlink.bottomnav.w-nav-link(:href="bigthrillfactory('eat')") Eat
            a.navlink.bottomnav.w-nav-link(:href="bigthrillfactory('play')") Play
            a.navlink.bottomnav.w-nav-link(:href="bigthrillfactory('celebrate')") Parties & Events
            a.navlink.bottomnav.w-nav-link(:href="bigthrillfactory('specials')") Specials
            a.navlink.bottomnav.w-nav-link(:href="bigthrillfactory('axes')") Axe throwing
            a.navlink.bottomnav.w-nav-link(:href="bigthrillfactory('contact')") Contact
            a.navlink.bottomnav.w-nav-link(:href="bigthrillfactory('careers')") Careers
          .toplinks
            template(v-if='authenticated')
              router-link.navlink.toplink.w-nav-link(:to="{ name: 'cards' }", active-class='active') {{ $t('toplinks.my_play_cards') }}
              router-link.navlink.toplink.w-nav-link(:to="{ name: 'profile' }", active-class='active') {{ $t('toplinks.my_profile') }}
              a.navlink.toplink.w-nav-link.sign-out(@click.prevent='logout', href='#') {{ $t('toplinks.sign_out') }}
                i
            template(v-else='')
              router-link.navlink.toplink.w-nav-link(:to="{ name: 'reload-card' }", active-class='active') {{ $t('toplinks.reload_play_card') }}
              router-link.navlink.toplink.w-nav-link(:to="{ name: 'cards.buy' }", active-class='active') {{ $t('toplinks.purchase_play_card') }}
              router-link.navlink.toplink.w-nav-link(:to="{ name: 'check-balance' }", active-class='active') {{ $t('toplinks.check_balance') }}
              router-link.navlink.toplink.w-nav-link.sign-in(:to="{ name: 'sign-in' }", active-class='active') {{ $t('toplinks.sign_in') }}
                i

</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    appName: window.config.appName,
    isTop: true,
    showMenu: false
  }),

  computed: mapGetters({
    user: 'authUser',
    authenticated: 'authCheck'
  }),

  created () {
    this.handleScroll();
    window.addEventListener('scroll', this.handleScroll);
    this.$router.afterEach(() => {
      this.showMenu = false
    });
  },

  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },

  methods: {
    bigthrillfactory (path = '') {
      return `https://www.bigthrillfactory.com/${path}`;
    },
    
    async logout () {
      await this.$store.dispatch('logout')
      this.$router.push({ name: 'sign-in' })
    },

    handleScroll () {
      this.isTop = !window.pageYOffset;
    }
  }
}
</script>
