<template lang="pug">

.package-payment-form-component.buy-card-form
    .buy-card-accordion#accordion
        h3.buy-card-step 
            .buy-card-step__name Select amount
            .buy-card-step__amount Step 1/3
        .buy-card-step__content
            .row.cart-row
              .col-lg-6
                form-group-row(:form='form', :label="$t('buy_cards.value')", name='package')
                  v-select.form-control(v-model="package", label="text", :options="packages || []", :searchable="false")
              .col-lg-2
                form-group-row(:form='form', :label="quantityLabel", name='quantity')
                  v-select.form-control(v-model="quantity", label="value", :options="quantityOptions()", :searchable="false")
              .col-lg-4.text-right
                .form-group
                  div
                    button.btn.btn-primary(type="button", @click="addToCart", :disabled="!package || !quantity") {{ 'Add to cart' }}
            template(v-if="packages")
              .buy-card-cart-row(v-for="(value, key) in selectedPackages", :key="key")
                .buy-card-cart__item
                  span.buy-card-cart__item-price {{ packagesByKey[key].title }} 
                  span.buy-card-cart__item-bonus {{ packagesByKey[key].subtitle }}
                .buy-card-cart__amount {{ value }} 
                  span.buy-card-cart__amount-text {{ value | pluralize('card') }}
                .buy-card-cart__action
                  button.btn.btn-primary(type="button", @click="removeFromCart(key)") 
                      span.buy-card-cart__action-icon
                        img(src="http://zelkys.archahosting.com/wp-content/themes/zelkys/assets/images/remove-icon.svg")
                        .buy-card-cart__action-text remove
            .row(v-if="locationAtPurchase")
              .col-lg-6
                form-group-row(:form='form', :label="$t('buy_cards.location')", name='location_id')
                  v-select.form-control(v-model="location", :on-change="changeLocation", label="title", :options="locations", :searchable="false", :class="{'is-invalid': form.errors.has('location_id')}")
            button.btn.btn-next Next
        h3.buy-card-step
            .buy-card-step__name BILLING INFORMATION
            .buy-card-step__amount Step 2/3
        .buy-card-step__content
            h4.section-title {{ $t('payment_form.credit_card') }}
            .form-group.same-as-checkbox.no-check(v-if="authenticated")
                .form-check
                    input#sameAsAccountCheckbox(v-model="sameAsAccount", type="checkbox")
                    label(for="sameAsAccountCheckbox") Same details as account
            .row
                .col-lg-6
                    form-group-row(:form='form', :label="$t('payment_form.cc_first_name')", name='cc_first_name')
                        form-input(:form='form', name='cc_first_name', :readonly="sameAsAccount", :placeholder="$t('payment_form.cc_first_name_placeholder')")
                .col-lg-6
                    form-group-row(:form='form', :label="$t('payment_form.cc_last_name')", name='cc_last_name')
                        form-input(:form='form', name='cc_last_name', :readonly="sameAsAccount", :placeholder="$t('payment_form.cc_last_name_placeholder')")
            .row
                .col-lg-6
                    form-group-row(:form='form', :label="$t('payment_form.cc_number')", name='cc_number')
                        form-input(:form='form', name='cc_number', :placeholder="$t('payment_form.cc_number_placeholder')")
                .col-lg-2
                    form-group-row(:form='form', :label="$t('payment_form.cc_code')", name='cc_code')
                        form-input(:form='form', name='cc_code', :placeholder="$t('payment_form.cc_code_placeholder')")
                .col-lg-2
                    form-group-row(:form='form', :label="$t('payment_form.cc_expiration_month')", name='cc_expiration_month')
                        v-select.form-control(v-model="form._cc_expiration_month", :options="monthOptions()", :searchable="true", :class="{'is-invalid': form.errors.has('cc_expiration_month')}", :placeholder="$t('payment_form.cc_expiration_month_placeholder')")
                .col-lg-2
                    form-group-row(:form='form', :label="$t('payment_form.cc_expiration_year')", name='cc_expiration_year')
                        v-select.form-control(v-model="form._cc_expiration_year", label="value", :options="yearOptions()", :searchable="true", :class="{'is-invalid': form.errors.has('cc_expiration_year')}", :placeholder="$t('payment_form.cc_expiration_year_placeholder')")
            .row(v-if="emailRequired")
                .col-lg-6
                    form-group-row(:form='form', :label="$t('register.email')", name='email')
                        form-input(:form='form', name='email', type='email', :placeholder="$t('payment_form.email_placeholder')")
            div.buy-card-opt-in-hint
                form-input(:form='form', name='notifications', type='checkbox')
                label Recieve promo and discounts email notifications
            button.btn.btn-next Next
        h3.buy-card-step
            .buy-card-step__name ADDRESS INFORMATION
            .buy-card-step__amount Step 3/3
        .buy-card-step__content
            h4.section-title {{ $t('payment_form.billing_address') }}
            .row
                .col-lg-6
                    form-group-row(:form='form', :label="$t('payment_form.address')", name='billing_address')
                        form-input(:form='form', name='billing_address', :readonly="sameAsAccount && userPropertyNotEmpty('address')", :placeholder="$t('payment_form.address_placeholder')")
                .col-lg-6
                    form-group-row(:form='form', :label="$t('payment_form.city')", name='billing_city')
                        form-input(:form='form', name='billing_city', :readonly="sameAsAccount && userPropertyNotEmpty('city')", :placeholder="$t('payment_form.city_placeholder')")
            .row
                .col-lg-4
                    form-group-row(:form='form', :label="$t('payment_form.state')", name='billing_state')
                        form-input(:form='form', name='billing_state', :readonly="sameAsAccount && userPropertyNotEmpty('state')", :placeholder="$t('payment_form.state_placeholder')")
                .col-lg-2
                    form-group-row(:form='form', :label="$t('payment_form.zip')", name='billing_zip')
                        form-input(:form='form', name='billing_zip', :readonly="sameAsAccount && userPropertyNotEmpty('postcode')", :placeholder="$t('payment_form.zip_placeholder')")
                .col-lg-6
                    form-group-row(:form='form', :label="$t('payment_form.country')", name='billing_country')
                        v-select.form-control(v-model="form._billing_country", label="value", :options="countries", :searchable="true", :class="{'is-invalid': form.errors.has('billing_country')}", :placeholder="$t('payment_form.country_placeholder')")
            .row.justify-content-center
                .col-lg-6.text-center
                    v-button.btn.btn-primary.btn-size-xl(:loading="form.busy") {{ $t('buy_cards.submit') }}
    .buy-card-summary
        .buy-card-summary__head
            div Balance
            div № of cards
        .buy-card-summary__content(v-for="(value, key) in selectedPackages", :key="key")
            div {{ packagesByKey[key].title }} {{ packagesByKey[key].subtitle }}
            div {{ value }}
        hr
        .buy-card-summary__footer
            div Tax:
            div {{ tax | currency('$ ') }}
        .buy-card-summary__footer
            div Total:
            div {{ total | currency('$ ') }}

</template>



<script>
    import LocationService from '../services/location';
    import PackageService from '../services/package';
    import { mapGetters } from 'vuex';
    import countries from 'country-list';
    import Form from 'vform';
    
    /*function parseStrC(value) {
        
        let pos = value.indexOf('$');
        let str = value.substring(pos);
        let pos2 = str.indexOf(' ');
        value = value.substring(pos,pos2);
        
        return value;
    }*/
    
    const SAME_AS_ACCOUNT_MAPPING = {
        cc_first_name: 'first_name',
        cc_last_name: 'last_name',
        billing_address: 'address',
        billing_city: 'city',
        billing_state: 'state',
        billing_zip: 'postcode',
    }
    
    export default {
        name: 'package-payment-form',
        filters: {
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        },
        props: {
            form: {
                type: Form,
                required: true
            },
            quantityLabel: {
                type: String,
                default: '№ of cards'
            }
        },
        data: () => ({
            locationAtPurchase: null,
            locations: [],
            location: null,
            packages: null,
            package: null,
            quantity: null,
            total: 0,
            tax: 0,
            packagesByKey: null,
            emailRequired: false,
            countries: [],
            current_year: (new Date()).getFullYear(),
            sameAsAccount: false
        }),
        async created() {
            this.locationAtPurchase = window.config.locationAtPurchase;
            if (this.locationAtPurchase) {
                this.locations = await LocationService.index();
                if (this.form.location_id) {
                    this.location = this.locations.find(x => x.id == this.form.location_id);
                }
            }
            const packages = await PackageService.index();
            this.packages = packages.map(p => ({
                value: p.id,
                text: p.title + (p.subtitle == null ? '' : ` ${p.subtitle}`),
                product: p.product,
                products: p.products,
                title: p.title,
                subtitle: p.subtitle,
            }));
            this.packagesByKey = {};
            this.packages.forEach(p => this.packagesByKey[p.value] = p);
            this.updateTotal();
            this.emailRequired = !this.authenticated && !window.config.registerWithPurchase;

            this.countries = countries().getNames().map(x => ({value: x}));

        },
        watch: {
            sameAsAccount(newVal) {
                if (newVal) {
                    this.copyAccount();
                }
                this.sameAsAccount = newVal;
            }
        },
        methods: {
            quantityOptions() {
                return [...Array(10).keys()].map(x => ({value: (x + 1).toString()}));
            },
            addToCart() {
                const quantity = this.quantity.value;
                this.$store.dispatch('addPackage', { packageId: this.package.value, quantity })
                this.updateTotal();
                this.package = null;
                this.quantity = null;
            },
            removeFromCart(packageId) {
                this.$store.dispatch('removePackage', { packageId })
                this.updateTotal();
            },
            updateTotal() {
                let subtotal = 0;
                let tax = 0;

                if (this.packages) {
                    if (this.locationAtPurchase) {
                        if (this.location) {
                            for (let card_package of this.packages) {
                                if (card_package.value in this.selectedPackages) {
                                    const product = card_package.products.filter(x => (x.location_id == this.location.id))[0];
                                    subtotal += this.selectedPackages[card_package.value] * product.cost;
                                    tax += this.selectedPackages[card_package.value] * product.tax;
                                }
                            }
                        }
                    } else {
                        for (let card_package of this.packages) {
                            if (card_package.value in this.selectedPackages) {
                                const product = card_package.product;
                                subtotal += this.selectedPackages[card_package.value] * product.cost;
                                tax += this.selectedPackages[card_package.value] * product.tax;
                            }
                        }
                    }
                }
                this.tax = tax;
                this.total = subtotal + tax;
            },
            changeLocation(e) {
                this.location = e;
                this.form.location_id = e ? e.id : null;
                this.updateTotal();
            },
            monthOptions() {
                return [...Array(12).keys()].map(x => ({label: String('0' + (x + 1)).slice(-2), value: x + 1}));
            },
            yearOptions() {
                return [...Array(20).keys()].map(x => ({value: (x + this.current_year).toString()}));
            },
            copyAccount() {
                Object.keys(SAME_AS_ACCOUNT_MAPPING).forEach(k => {
                    this.form[k] = this.user[SAME_AS_ACCOUNT_MAPPING[k]];
                });
            },
            userPropertyNotEmpty(prop) {
                return prop in this.user && this.user[prop] != null && this.user[prop].length > 0;
            }

        },
        computed: {
            bonus: function () {
                if (this.package && this.packages) {
                    const pakkage = this.packages.find(p => p.value == this.package.value);
                    if (this.locationAtPurchase) {
                        if (this.location) {
                            const product = pakkage.products.find(p => p.location_id == this.location.id);
                            return Number(product.play_bonus_added);
                        }
                    } else {
                        const product = pakkage.product;
                        return Number(product.play_bonus_added);
                    }
                }
            },
            ...mapGetters({
                selectedPackages: 'packages',
                user: 'authUser',
                authenticated: 'authCheck'
            })
        }
    }
</script>