<template lang="pug">

  .password-reset-component
    form(@submit.prevent='reset', @keydown='form.onKeydown($event)', :class="{ 'has-errors': form.errors.any() }")
      form-group-row(:form="form", name="email", :label="$t('password_reset.email')")
        form-input(:form="form", name="email", type="email", :placeholder="$t('password_reset.email_placeholder')")
      form-group-row(:form="form", name="password", :label="$t('password_reset.password')")
        form-input(:form="form", name="password", type="password", :placeholder="$t('password_reset.password_placeholder')")
      form-group-row(:form="form", name="password_confirmation", :label="$t('password_reset.password_confirmation')")
        form-input(:form="form", name="password_confirmation", type="password", :placeholder="$t('password_reset.password_confirmation_placeholder')")
      .form-group.no-check
        v-button.btn-default(:loading="form.busy", block) {{ $t('password_reset.submit') }}

    form-success-modal(:form="form")
      template(slot="title") Success!
      template(slot="message") {{ status }}
      template(slot="buttons")
        router-link.btn.btn-primary(:to="{ name: 'sign-in' }") Sign in
      
</template>

<script>
import Form from 'vform'

export default {
  name: 'password-reset',

  props: ['token'],

  data: () => ({
    status: '',
    form: new Form({
      token: '',
      email: '',
      password: '',
      password_confirmation: ''
    })
  }),

  methods: {
    async reset () {
      this.form.token = this.token;

      const { data } = await this.form.post(`${window.config.baseUri}/api/password/reset`)

      this.status = data.status

      this.form.reset()
    }
  }
}
</script>
