<template lang="pug">

  .profile-component
    form(@submit.prevent='update', @keydown='form.onKeydown($event)', :class="{ 'has-errors': form.errors.any() }")
      .row
        form-group-row.col-md-6(:form='form', :label="$t('profile.first_name')", name='first_name', required)
          form-input(:form='form', name='first_name')
        form-group-row.col-md-6(:form='form', :label="$t('profile.last_name')", name='last_name', required)
          form-input(:form='form', name='last_name')
        form-group-row.col-md-6(:form='form', :label="$t('profile.preferred_location')", name='preferred_location_id')
          v-select.form-control(v-model="preferred_location_id", label="title", :options="locations", :searchable="false", :class="{'is-invalid': form.errors.has('preferred_location_id')}")
        form-group-row.col-md-6(:form='form', :label="$t('profile.phone_number')", name='phone')
          form-input(:form='form', name='phone')
        form-group-row.col-md-6(:form='form', :label="$t('profile.email')", name='email', required)
          form-input(:form='form', name='email', type='email')
        form-group-row.col-md-6(:form='form', :label="$t('profile.email_confirmation')", name='email_confirmation')
          form-input(:form='form', name='email_confirmation', type='email')
        form-group-row.form-group-check.col-md-6(:form='form', :label="$t('profile.gender')", name='gender', required)
          .form-check.pr-4
            input#maleRadio(v-model="form.gender", type="radio", value="m")
            label(for="maleRadio") Male
          .form-check
            input#femaleRadio(v-model="form.gender", type="radio", value="f")
            label(for="femaleRadio") Female
          input.form-control(type="hidden", :class="{'is-invalid': form.errors.has('gender')}")
        form-group-row.col-md-6(:form='form', :label="$t('profile.birthdate')", name='birthdate', required)
          datepicker(v-model="form.birthdate", name="birthdate", format="MM/dd/yyyy", initial-view="year", input-class="form-control", :class="{'is-invalid': form.errors.has('birthdate')}")
          input.form-control(type="hidden", :class="{'is-invalid': form.errors.has('birthdate')}")
        form-group-row.col-md-6(:form='form', :label="$t('profile.address')", name='address')
          form-input(:form='form', name='address')
        form-group-row.col-md-6(:form='form', :label="$t('profile.city')", name='city')
          form-input(:form='form', name='city')
        form-group-row.col-md-4(:form='form', :label="$t('profile.state')", name='state')
          form-input(:form='form', name='state')
        form-group-row.col-md-2(:form='form', :label="$t('profile.zip')", name='postcode')
          form-input(:form='form', name='postcode')
        form-group-row.col-md-6(:form='form', :label="$t('profile.country')", name='country')
          v-select.form-control(v-model="country", label="value", :options="countries", :searchable="true", :class="{'is-invalid': form.errors.has('country')}")
        .form-group.col-6
          label Alert preference: 
          .form-check-reverse.pl-2
            input#emailSubscribedCheckbox(v-model='form.subscribed', type="checkbox")
            label(for="emailSubscribedCheckbox") Email
          .form-check-reverse.pl-2
            input#smsSubscribedCheckbox(v-model='form.sms_subscribed', type="checkbox")
            label(for="smsSubscribedCheckbox") Text
          small.form-text.text-muted Uncheck boxes to unsubscribe from special offer notifications and from promo bonuses.
        .form-group.col-md-6
          label &nbsp;
          .form-control-plaintext
            a.form-link.link(href="#", @click.prevent="showPasswordChangeModal = true") Сhange Your Password
        .form-group.col-md-12.pt-4
          v-button.btn-default(:loading='form.busy', block='') {{ $t('profile.submit') }}

    modal.password-change-modal(v-if="showPasswordChangeModal", @close="showPasswordChangeModal = false")
      form(@submit.prevent='changePassword', @keydown='passwordForm.onKeydown($event)', :class="{ 'has-errors': passwordForm.errors.any() }")
        .v-modal-title Provide the following information to change your password.
        .v-modal-message.mx-auto.text-left
            form-group-row(:form='passwordForm', :label="$t('profile.current_password')", name='current_password')
              form-input(:form='passwordForm', name='current_password', type='password') 
            form-group-row(:form='passwordForm', :label="$t('profile.password')", name='password')
              form-input(:form='passwordForm', name='password', type='password') 
            form-group-row(:form='passwordForm', :label="$t('profile.confirm_password')", name='password_confirmation')
              form-input(:form='passwordForm', name='password_confirmation', type='password') 
        .v-modal-buttons
          v-button.btn-primary(:loading='passwordForm.busy') {{ $t('profile.submit') }}

    modal(v-if="showProfileChangeSuccessModal", @close="showProfileChangeSuccessModal = false")
      .v-modal-title Success!
      .v-modal-message Your profile has been changed.
      .v-modal-buttons
        router-link.btn.btn-primary(:to="{ name: 'cards' }") {{ $t('add_playcard.my_play_cards') }}

    modal(v-if="showPasswordChangeSuccessModal", @close="showPasswordChangeSuccessModal = false")
      .v-modal-title Success!
      .v-modal-message Your passsword has been changed.
      .v-modal-buttons
        router-link.btn.btn-primary(:to="{ name: 'cards' }") {{ $t('add_playcard.my_play_cards') }}

</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import PictureInput from 'vue-picture-input'
import axios from 'axios';
import Datepicker from 'vuejs-datepicker';
import moment from 'moment';
import countries from 'country-list';

export default {
  name: 'profile',

  data: () => ({
    locations: [],
    showPasswordChangeModal: false,
    showProfileChangeSuccessModal: false,
    showPasswordChangeSuccessModal: false,
    form: new Form({
      first_name: '',
      last_name: '',
      email: '',
      gender: '',
      address: '',
      city: '',
      state: '',
      postcode: '',
      phone: '',
      birthdate: '',
      picture: '',
      subscribed: '',
      sms_subscribed: '',
      preferred_location_id: ''
    }),
    preferred_location_id: null,
    passwordForm: new Form({
      current_password: '',
      password: '',
      password_confirmation: ''
    }),
    countries: [],
    country: null
  }),

  computed: mapGetters({
    user: 'authUser'
  }),

  async created() {
    this.$store.dispatch('authGuard', this);
    const { data } = await axios.get(`${window.config.baseUri}/api/location`);
    this.locations = data;
    this.countries = countries().getNames().map(x => ({value: x}));
    this.fillForm();
  },

  methods: {
    fillForm() {
      this.form.keys().forEach(key => {
        this.form[key] = this.user[key]
      });
      this.preferred_location_id = this.locations.find(x => x.id == this.form.preferred_location_id);
      this.country = this.countries.find(x => x.value == this.user.country);
    },

    async update () {
      this.form.preferred_location_id = this.preferred_location_id ? this.preferred_location_id.id : null;
      this.form.birthdate = moment(this.form.birthdate).format('YYYY-MM-DD');
      this.form.country = this.country ? this.country.value : null;
      const { data } = await this.form.patch(`${window.config.baseUri}/api/settings/profile`)
      this.$store.dispatch('updateUser', { user: data })
      this.form.reset()
      this.fillForm();
      this.error = null;
      this.showProfileChangeSuccessModal = true;
    },

    onPictureChange () {
      this.form.picture = this.$refs.pictureInput.image;
    },

    async changePassword() {
      await this.passwordForm.patch(`${window.config.baseUri}/api/settings/password`)
      this.showPasswordChangeModal = false
      this.showPasswordChangeSuccessModal = true
    }
  },

  components: {
    PictureInput,
    Datepicker
  }
}
</script>
