<template lang="pug">

  .registration-form
    .row
      form-group-row.col-md-6(v-if="shadow", :form='form', :label="$t('profile.preferred_location')", name='preferred_location_id', required)
        v-select.form-control(v-model="form._preferred_location_id", label="title", :options="locations", :searchable="false", :class="{'is-invalid': form.errors.has('preferred_location_id')}", :disabled="sameAsBilling")
      form-group-row.col-md-6(v-if="shadow", :form='form', :label="$t('profile.phone_number')", name='phone', required)
        form-input(:form='form', name='phone')
      form-group-row.col-md-6(v-if="!shadow", :form='form', :label="$t('profile.first_name')", name='first_name', required)
        form-input(:form='form', name='first_name', :readonly="sameAsBilling")
      form-group-row.col-md-6(v-if="!shadow", :form='form', :label="$t('profile.last_name')", name='last_name', required)
        form-input(:form='form', name='last_name', :readonly="sameAsBilling")
      form-group-row.form-group-check.col-md-6(:form='form', :label="$t('profile.gender')", name='gender', required)
        .form-check.pr-4
          input#maleRadio(v-model="form.gender", type="radio", value="m")
          label(for="maleRadio") Male
        .form-check
          input#femaleRadio(v-model="form.gender", type="radio", value="f")
          label(for="femaleRadio") Female
        input.form-control(type="hidden", :class="{'is-invalid': form.errors.has('gender')}")
      form-group-row.col-md-6(:form='form', :label="$t('profile.birthdate')", name='birthdate', required)
        datepicker(v-model="form.birthdate", name="birthdate", format="MM/dd/yyyy", initial-view="year", :input-class="{'form-control': true, 'is-invalid': form.errors.has('birthdate')}")
        input.form-control(type="hidden", :class="{'is-invalid': form.errors.has('birthdate')}")
      form-group-row.col-md-6(v-if="!noEmail && !shadow", :form='form', :label="$t('register.email')", name='email', required)
        form-input(:form='form', name='email', type='email')
      form-group-row.col-md-6(v-if="!noEmail && !shadow", :form='form', :label="$t('register.confirm_email')", name='email_confirmation', required, :class="{'is-invalid': form.errors.has('email')}")
        form-input(:form='form', name='email_confirmation', type='email', :class="{'is-invalid': form.errors.has('email')}")
      form-group-row.col-md-6(:form='form', :label="$t('register.password')", name='password', required)
        form-input(:form='form', name='password', type='password')
      form-group-row.col-md-6(:form='form', :label="$t('register.confirm_password')", name='password_confirmation', required, :class="{'is-invalid': form.errors.has('password')}")
        form-input(:form='form', name='password_confirmation', type='password', :class="{'is-invalid': form.errors.has('password')}")
        span.help-block.text-muted {{ $t('profile.password_hint') }}
      .form-group.col-12
        .registration-opt-in-hint {{ $t('register.opt_in_hint') }}
          i

</template>

<script>
import LocationService from '../services/location';
import Datepicker from 'vuejs-datepicker';

const SAME_AS_BILLING_MAPPING = {
  first_name: 'cc_first_name',
  last_name: 'cc_last_name',
  address: 'billing_address',
  city: 'billing_city',
  state: 'billing_state',
  postcode: 'billing_zip'
};

export default {
  name: 'registration-form',
  props: ['form', 'same-as-billing', 'no-email', 'shadow'],

  data: () => ({
    locations: []
  }),

  async created() {
    this.locations = await LocationService.index();
  },

  methods: {
    copyBilling() {
      Object.keys(SAME_AS_BILLING_MAPPING).forEach(k => {
        this.form[k] = this.form[SAME_AS_BILLING_MAPPING[k]];
      });

      this.form._preferred_location_id = this.locations.find(x => x.id == this.form.location_id);
    }
  },

  watch: { 
    sameAsBilling(newVal) {
      if (newVal) {
        this.copyBilling();
      }
      this.sameAsBilling = newVal;
    }
  },

  components: {
    Datepicker
  }
}
</script>
