<template lang="pug">

  a(:href="path")
    slot

</template>

<script>
export default {
  name: 'router-link',

  props: ['to'],
  
  data: () => ({
    path: null
  }),

  created() {
    this.path = this.$router.match(this.to).path;
  }
}
</script>
