<template lang="pug">
  .unsubscribe-button-component
    .unsubscribe-status(v-if="unsubscribed") {{ successLabel }}
    v-button.btn-primary(v-else="", :loading="form.busy", nativeType="button", @click="unsubscribe()")
      slot Unsubscribe
</template>

<script>
import Form from 'vform'

export default {
  name: 'unsubscribe-button',

  props: {
    successLabel: {
      type: String,
      default: 'Unsubscribed'
    }
  },

  data: () => ({
    form: new Form({
      email: ''
    }),
    unsubscribed: false
  }),

  created() {
    this.form.email = this.$route.query.email;
  },

  methods: {
    async unsubscribe () {
      await this.form.post(`${window.config.baseUri}/api/unsubscribe`);
      this.unsubscribed = true;
    }
  }
}
</script>
