[style*="Open Sans"] {
  font-family: 'Open Sans', Arial, sans-serif !important;
}
[style*="Montserrat"] {
  font-family: 'Montserrat', Verdana, sans-serif !important;
}

.content-wrapper,
.cke_editable {
  background-color: white;
  padding: 50px 75px;
}
.cke_editable {
  margin: 0;
  font-family: Arial, sans-serif, 'Open Sans';
}
.content a,
.cke_editable a {
  color: #282828;
  text-decoration: underline;
  font-family: Arial, sans-serif, 'Open Sans';
}
h1 {
  color: #00ccff;
  font-family: Verdana, sans-serif, 'Montserrat';
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 44px;
  line-height: 37px;
}
h3 {
  color: #282828;
  font-family: Verdana, sans-serif, 'Montserrat';
  font-size: 19px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 30px;
}
p {
  color: #282828;
  font-size: 15px;
  line-height: 25px;
}
h4 {
  margin-top: 38px;
  color: #00ccff;
  font-size: 19px;
  font-weight: bold;
}
table.button a {
  color: #fffefe;
  font-family: Arial, sans-serif, 'Open Sans';
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
table.button td {
  background-color: #fe4743;
  padding: 15px 70px;
}