.check-balance-component {
  .v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message {
    color: #676767;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    label {
      font-weight: 600;
      line-height: 40px;
    }
    .value {
      display: inline;
      color: #282828;
    }
  }
  .check-another-card-modal.v-modal-mask .v-modal-wrapper .v-modal-container .v-modal-body .v-modal-message {
    padding-bottom: 0;
  }
}
