.v-modal-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  .v-modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    .v-modal-container {
      display:  table;
      position: relative;
      margin: auto;
      width: 900px;
      min-height: 535px;
      padding: 0;
      background-color: #fff;
      font-family: Helvetica, Arial, sans-serif;
      .v-modal-close-button {
        position: absolute;
        top: 19px;
        right: 19px;
        width: 33px;
        height: 33px;
        background-image: url('../icons/modal-close.png');
        background-color: white;
      }
      .v-modal-body {
        padding: 50px 60px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        > * {
          margin: auto;
        }
        .v-modal-title {
          color: #282828;
          font-family: "Open Sans";
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          padding-bottom: 50px;
        }
        .v-modal-message {
          color: #282828;
          font-family: "Open Sans";
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          padding-bottom: 40px;
        }
        .v-modal-buttons {
          .btn {
            padding: 0 60px;
            margin: 10px 10px;
            display: inline-block;
            line-height: 50px;
            &.btn-primary {
              height: 50px;
            }
            @media (max-width: 479px) {
              padding: 0 10px;
              margin: 10px 0;
              width: 100%;
              white-space: normal;
              span {
                display: inline-block;
                line-height: 20px;
                vertical-align: middle;
                padding-bottom: 3px;
              }
            }
          }
        }
      }

      @media (max-width: 900px) {
        width: 100%;
        .v-modal-body {
          padding: 50px 10px;
        }
      }
    }
  }
}

.v-modal-enter, .v-modal-leave-active {
  opacity: 0;
}

.v-modal-enter-active, .v-modal-leave-active {
  transition: opacity .4s;
}
