.payment-form {
  h4.section-title {
    text-transform: capitalize;
    margin-top: 10px;
    color: #282828;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

.payment-form-container {
  max-width: 850px;
  margin: 0 auto;
  h2.title {
    margin-top: -1px;
    color: #282828;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
    padding-bottom: 40px;
  }
  hr {
    &.under-title,
    &.under-cart,
    &.under-total {
      border-color: #d3d3d3;
      margin: 0;
    }
    &.under-title {
      margin-bottom: 40px;
    }
    &.under-cart {
      margin-bottom: 26px;
    }
    &.under-total {
      border-color: #9a9a9a;
      margin-bottom: 50px;
    }
  }
  h3.section-title {
    margin: 0;
    position: relative;
    padding-left: 55px;
    color: #282828;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 35px;
    padding-bottom: 36px;
    letter-spacing: -0.75px;
    i {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      font-style: initial;
      background-color: #fe4743;
      width: 35px;
      height: 35px;
      text-align: center;
      color: #fefefe;
      font-size: 20px;
    }
  }
  .bonus-buy {
    color: #fe4743;
    padding-top: 32px;
    h4 {
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      line-height: 18px;
      margin-bottom: 2px;
    }
    h5 {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400;
    }
  }
  .cart-row {
    padding-bottom: 24px;
  }
  .tax-row {
    color: #999999;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 14px;
  }
  .total-row {
    color: #292929;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 30px;
  }
  .edit-link {
    padding-bottom: 32px;
    a {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .buttons {
    padding-top: 32px;
    .btn {
      padding: 0 70px;
      margin: 0 10px;
    }
  }
  .print-button {
    padding-bottom: 15px;
  }
  .resend-link {
    font-size: 14px;
    font-weight: 400;
  }
  .added-package {
    color: #999999;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 30px;
    line-height: 50px;
  }
  .same-as-checkbox {
    padding-bottom: 15px;
  }
}
