.playcards-page {
  .top-links {
    margin: 0 auto;
    width: 331px;
    text-align: right;
    padding-bottom: 28px;
    @media (max-width: 768px) {
      width: 270px;
    }
    .top-link {
      padding-bottom: 8px;
      a {
        color: #949494;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

.card-number-help,
.card-cvv-help {
  background-repeat: no-repeat;
  width: 420px;
  height: 240px;
  @media (max-width: 479px) {
    width: 300px;
    height: 172px;
    background-size: 100%;
  }
}

.card-number-help {
  background-image: url('../images/card-number-help.png');
}

.card-cvv-help {
  background-image: url('../images/card-cvv-help.png');
}

.playcards-component {
  .playcards {
    padding-bottom: 50px;
    @media (max-width: 768px) {
      padding-bottom: 0;
    }
    .playcard {
      padding-bottom: 50px;
      margin: 0 auto;
      width: 331px;
      color: #282828;
      font-family: "Open Sans";
      &-image {
        background-image: url('../images/card-1.png');
        width: 331px;
        height: 208px;
        margin: 0 0 45px;
      }
      @media (max-width: 768px) {
        width: 270px;
        .playcard-image {
          background-size: 100%;
          width: 270px;
          height: 170px;
        }
      }
      &-number {
        font-size: 19px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.95px;
      }
      hr {
        border-top: 2px solid #838383;
        margin-left: 0;
        width: 50px;
      }
      &-property {
        font-size: 15px;
        line-height: 25px;
        color: #282828;
        font-size: 15px;
        padding-bottom: 5px;
        &-title {
          font-weight: 700;
          text-transform: uppercase;
        }
        &-value {
          font-weight: 400;
        }
      }
      &-primary {
        color: red;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 600;
      }
    }
    .page-selectors {
      margin-left: auto;
      width: 331px;
      padding-top: 70px;
      text-align: center;
      .page-selector {
        display: inline-block;
        margin: 0 4px;
        &.selected {
          font-weight: bold;
        }
      }
    }
  }
  .no-playcards {
    padding-bottom: 50px;
    width: 331px;
    text-align: center;
    margin: 0 auto;
    .no-playcard {
      background-image: url('../images/card-2.png');
      width: 331px;
      height: 208px;
      margin: 0 0 30px;
    }
    @media (max-width: 768px) {
      width: 270px;
      .no-playcard {
        background-size: 100%;
        width: 270px;
        height: 170px;
      }
    }
   .no-message {
      color: #282828;
      font-family: "Open Sans";
      padding-bottom: 30px;
    }
  }
}
