.profile-page {
  max-width: 850px;
  margin: 0 auto;
}

.profile-component {
  .form-check.unsubscribe {
    margin-top: 20px;
    label {
      color: #bdbdbd;
    }
  }
  .password-change-modal {
    .v-modal-message {
      max-width: 400px;
    }
  }
}
