.registration-opt-in-hint {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 13px;
  position: relative;
  padding-left: 26px;
  i {
    position: absolute;
    top: 6px;
    left: 0;
    background-image: url('../icons/check.png');
    width: 13px;
    height: 9px;
  }
}
