<template lang="pug">

  .card.small.mx-auto
    .card-header {{ $t('check_balance.title') }}
    .card-body
      check-balance

</template>

<script>
export default {
  metaInfo () {
    return { title: this.$t('check_balance.title') }
  }
}
</script>
