<template lang="pug">
  .card.small.mx-auto
    .card-header {{ $t('check_balance.title') }}
    .card-body
      check-balance
    .card-spacer
    .card-header {{ $t('login.title') }}
    .card-body
      login
</template>

<script>
export default {
  metaInfo () {
    return { title: this.$t('home') }
  }
}
</script>
