<template lang="pug">
  .card.small.mx-auto.login-page
    .card-header {{ $t('login.title') }}
    .card-body
      login
      .need-an-account.text-center
        .dot-spacer.mx-auto
        .title {{ $t('login.need_an_account') }}
        .link
          router-link(:to="{ name: 'register' }") {{ $t('login.sign_up_link') }}
</template>

<script>
export default {
  metaInfo () {
    return { title: this.$t('login.title') }
  }
}
</script>
