<template lang="pug">

  card(:title="$t('optin.title')")
    form(@submit.prevent='optin', @keydown='form.onKeydown($event)', :class="{ 'has-errors': form.errors.any() }")
      registration-form(:form="form", no-email)
      .row
        .form-group.col-md-12.pt-4
          .col-md-6.mx-md-auto
            v-button.btn-default(:loading='form.busy', block='') {{ $t('optin.submit') }}

</template>

<script>
import Form from 'vform'
import moment from 'moment';
import axios from 'axios';

export default {
  metaInfo () {
    return { title: this.$t('register') };
  },

  data: () => ({
    form: new Form({
      token: '',
      first_name: '',
      last_name: '',
      password: '',
      password_confirmation: '',
      address: '',
      city: '',
      state: '',
      postcode: '',
      phone: '',
      birthdate: '',
      preferred_location_id: ''
    })
  }),

  async created () {
    this.form.token = this.$route.params.token;
    const { data } = await axios.get(`${window.config.baseUri}/api/optin/guest/${this.form.token}`);

    this.form.first_name = data.holder_firstname;
    this.form.last_name = data.holder_surname;
    this.form.address = data.address1;
    this.form.postcode = data.postal_code;
    this.form.phone = data.phone;
    this.form.birthdate = data.dob;
  },

  methods: {
    async optin () {
      this.form.preferred_location_id = this.form._preferred_location_id ? this.form._preferred_location_id.id : null;
      this.form.birthdate = moment(this.form.birthdate).format('YYYY-MM-DD');
      
      const { data } = await this.form.post(`${window.config.baseUri}/api/optin`);
      
      this.$store.dispatch('saveToken', {
        token: data.token
      });

      await this.$store.dispatch('fetchUser');

      this.$router.push({ name: 'cards' });
    }
  }
}
</script>
