<template lang="pug">

  .register-page
    .gray-section(v-if="firstBonusProduct")
      .w-container
        h3 Get ${{ firstBonusProduct.play_bonus_added | currency('', 0) }} FREE Game play just for registering!
        h4 Receive news, special offers and more from Big Thrill Factory! Plus protect the balance on your card in the event that it becomes lost, stolen or otherwise damaged.
        router-link(:to="{ name: 'sign-in' }") Already have an account? Sign-In »
    .white-section
      .container
        card(:title="$t('register.title')")
          register

</template>

<script>
import axios from 'axios';

export default {
  metaInfo () {
    return { title: this.$t('register') };
  },

  data: () => ({
    firstBonusProduct: null,
  }),

  async created () {
    const { data } = await axios.get(`${window.config.baseUri}/api/product/first-bonus`)
    this.firstBonusProduct = data;
  }
}
</script>
