.card {
  box-shadow: none;
  border-radius: 0;
  border: 0;
  &.small {
    width: 420px;
  }
  &-header {
    color: #282828;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: inherit;
    border-bottom: 0;
    padding: 0;
    padding-bottom: 40px;
    margin-left: -1px;
    line-height: 29px;
    white-space: nowrap;
  }
  &-body {
    padding: 0;
    .card-message {
      color: #282828;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      padding-bottom: 50px;
    }
  }
  &-spacer {
    height: 64px;
  }
}

@media (max-width: 479px) {
  .card {
    &.small {
      width: 100%;
    }
    &-header {
      font-size: 17px;
    }
  }
}
@media (max-width: 767px) {
  .card {
    &-header {
      font-size: 20px;
    }
  }
}