html, body {
  height: 100%;
}
#app {
  min-height: 100%;
  .app-layout {
    padding-bottom: 600px;
  }
}

footer.footer {
  display: none;
  height: 575px;
  margin-top: -575px;
  padding-top: 0px;
  a {
    text-decoration: none;
  }
  .footercontent {
    padding-top: 50px;
  }
  .red-section {
    padding-top: 53px;
    padding-bottom: 47px;
    background-color: #fe4743;
    text-align: center;
    .h3 {
      color: #fff;
      font-family: Montserrat;
      font-size: 45px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 34px;
      margin-bottom: 28px;
    }
    .whitelink {
      color: #fff;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 600;
      line-height: 16px;
      &:hover {
        color: #fff;
      }
    }
  }
  @media (max-width: 479px) {
    .red-section .h3 {
      font-size: 28px;
    }
  }
  @media (max-width: 767px) {
    height: unset;
    .red-section .h3 {
      font-size: 35px;
    }
  }
}
