.form-check-label.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-feedback {
  display: block;
}

.form-group {
  label {
    font-family: "Open Sans";
    color: #282828;
    font-size: 15px;
    font-weight: 400;
  }
  input.form-control {
    height: 49px;
    &.playcard-control,
    &.cvv-control {
      &::placeholder {
        position: relative;
        color: #b5b5b5;
        letter-spacing: 10px;
        font-size: 19px;
        padding-left: 0px;
        top: 1px;
      }
    }
  }
  input.form-control,
  select.form-control,
  .v-select.dropdown.form-control {
    border-width: 2px;
    border-radius: 0;
    border-color: #b4b4b4;
    font-family: "Open Sans";
    font-size: 15px;
    padding-left: 15px;
    padding-top: 4px;
  }
  select.form-control {
    height: 49px;
    &:not([size]):not([multiple]) {
      height: 49px;
    }
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    background: url('../icons/select-arrow.png') no-repeat;
    padding-right: 30px;
    background-position: right 13px center;
  }
  .v-select.dropdown.form-control {
    padding-left: 10px;
    padding-top: 6px;
    height: 49px;
    border: 0;
    -webkit-box-shadow:inset 0px 0px 0px 2px #b4b4b4;
    -moz-box-shadow:inset 0px 0px 0px 2px #b4b4b4;
    box-shadow:inset 0px 0px 0px 2px #b4b4b4;
    &.disabled {
      background-color: #e9ecef;
      > .dropdown-toggle {
        background-color: inherit;
        > * {
          background-color: inherit;
        }
      }
    }
    .dropdown-toggle {
      border: 0;
      .selected-tag {
        font-family: "Open Sans";
        font-size: 15px;
        color: #495057;
      }
    }
    input[type=search] {
      width: 1px !important;
    }
    .open-indicator {
      bottom: 12px;
      right: 15px;
      &:before {
        border-color: #ff4d58;
        border-width: 1px 1px 0 0;
      }
    }
    .clear {
      font-weight: 100;
      bottom: 12px;
    }
    .dropdown-menu {
      border-width: 2px;
      border-radius: 0;
      border-color: #b4b4b4;
      min-width: 60px;
      box-shadow: none;
    }
    &.open {
      .open-indicator {
        bottom: 12px;
        &::before {
          transform: rotate(225deg)
        }
      }
    }
  }

  .form-control-plaintext {
    height: 49px;
    padding-top: 12px;
  }
  .help-block {
    font-family: "Open Sans";
    line-height: 18px;
    letter-spacing: 0.22px;
    font-size: 11px;
    font-weight: 400;
    &.text-muted {
      color: #bdbdbd !important;
    }
  }
  .form-link {
    color: #00ccff;
    font-weight: 400;
    padding-left: 1px;
    padding-bottom: 1px;
  }
  .form-check,
  .form-check-reverse {
    display: inline-block;
    position: relative;
    input[type=checkbox],
    input[type=radio] {
      opacity: 0;
      position: absolute;
    }
    input[type=checkbox] + label::before,
    input[type=radio] + label::before {
      content: ' ';
      position: absolute;
      top: 5px;
      width: 24px;
      height: 24px;
      display: block;
      background: white;
      border: 2px solid #b5b5b5;
    }
    input[type=checkbox] + label::after,
    input[type=radio] + label::after {
      content: ' ';
      position: absolute;
      top: 6px;
      width: 23px;
      height: 23px;
      display: block;
      z-index: 1;
      background: url('../icons/check.png') no-repeat center center;
      opacity: 0;
    }
    input[type=checkbox]:checked + label::after,
    input[type=radio]:checked + label::after {
      opacity: 1;
    }
    label {
      padding-top: 6px;
    }
  }
  .form-check {
    input[type=checkbox] + label::before,
    input[type=radio] + label::before {
      left: 0;
    }
    input[type=checkbox] + label::after,
    input[type=radio] + label::after {
      left: 1px;
    }
    label {
      padding-left: 20px;
    }
  }
  .form-check-reverse {
    input[type=checkbox] + label::before,
    input[type=radio] + label::before {
      right: 0;
    }
    input[type=checkbox] + label::after,
    input[type=radio] + label::after {
      right: 0;
    }
    label {
      padding-right: 30px;
    }
  }
}

.form-link {
  color: #00ccff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
}

a.btn.btn-primary {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.btn {
  padding: 0 30px;
  line-height: 50px;
  height: 50px;
  border: 0;
  border-radius: 0;
  color: #fffefe;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  &.btn-default {
    background-color: #00ccff;
  }
  &.btn-primary {
    background-color: #fe4743;
  }
}

.btn-loading {
  position: relative;
  .lds-ripple {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -28px;
    margin-top: -28px;
  }
}

.is-invalid > .invalid-feedback {
  display: block;
}
