
.header.rewardsheader {
  background-image: linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.2));
  background-position: 0 0,50% 50%;
  background-size: auto,cover;
  background-repeat: repeat,no-repeat;
  @media (max-width: 767px) {
    min-height: 250px;
  }
  .heading-container {
    position: absolute;
    left: 0px;
    top: 50%;
    right: 0px;
    transform: translate(0px, -50%);
    .heading {
      text-align: center;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 80px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 80px;
    }
    @media (max-width: 479px) {
      top: 60%;
      .heading {
        font-size: 28px;
        line-height: 28px;
      }
    }
    @media (max-width: 767px) {
      .heading {
        font-size: 35px;
        line-height: 35px;
      }
    }
  }
}
