.app-layout {
  .white-section {
    padding-top: 100px;
    padding-bottom: 98px;
    @media (max-width: 767px) {
      padding-top: 50px;
      padding-bottom: 66px;
    }
  }
}

a.link,
a.link:hover {
  color: #00ccff;
}
