.login-page {
  .need-an-account {
    padding-top: 64px;
    .dot-spacer {
      background-image: url('../images/dot-spacer.png');
      height: 7px;
      width: 408px;
    }
    @media (max-width: 479px) {
      .dot-spacer {
        width: 289px;
      }
    }
    .title {
      padding-top: 48px;
      text-transform: uppercase;
      color: #282828;
      font-family: Montserrat;
      font-size: 28px;
      font-weight: 700;
    }
    .link {
      padding-top: 25px;
      a {
        color: #00ccff;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
