.navbar-component {
  .navbar {
    border: 1px solid #d3e0e9;
  }
  .w-nav {
    transition: background-color 0.4s, border-color 0.4s;
    border-style: solid;
    border-width: 0px 0px 1px;
  }
  .clearnavigation {
    background-color: hsla(0,0%,100%,0);
  }
  .darknavigation {
    display: block;
    opacity: 1;
    border-color: #252525;
  }
  a {
    text-decoration: none;
  }
  .toplink {
    font-weight: 600;
    &.sign-in > i,
    &.sign-out > i {
      height: 8px;
      float: left;
      top: 6px;
      position: relative;
    }
    &.sign-in > i {
      background-image: url('../icons/sign-in.png');
      width: 8px;
      margin-right: 3px;
    }
    &.sign-out > i {
      background-image: url('../icons/sign-out.png');
      width: 7px;
      margin-right: 4px;
    }
    &.router-link-exact-active {
      color: #ffe000;
    }
  }
  .bottomnav {
    font-weight: 600;
  }

  @media (max-width: 991px) {
    .navmenu {
      margin-top: 69px;
      width: 100%;
      padding-top: 0;
      padding-bottom: 25px;
      &.hide-menu {
        display: none;
      }
      .navlink {
        &.bottomnav,
        &.toplink {
          display: block;
          margin: 0 auto;
          padding-top: 15px;
          padding-bottom: 15px;
          text-align: center;
          font-size: 15px;
          font-weight: 400;
        }
        &.sign-in,
        &.sign-out {
          & > i {
            display: none;
          }
        }
      }
    }
  }
}

