
#nprogress .bar {
  background: #fe4743;
}

#nprogress .peg {
  box-shadow: #fe4743;
  // box-shadow: 0 0 10px #29d, 0 0 5px #29d;
}

#nprogress .spinner-icon {
  border-top-color: #fe4743;
  border-left-color: #fe4743;
}
