.register-page {
  .gray-section {
    padding-top: 64px;
    padding-bottom: 50px;
    min-height: 280px;
    background-color: #252525;
    text-align: center;
    .w-container {
      max-width: none;
      h3 {
        line-height: 50px;
        color: #fcfcfc;
        font-family: Montserrat;
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin-bottom: 28px;
      }
      @media (max-width: 479px) {
        h3 {
          font-size: 17px;
          line-height: 17px;
        }
      }
      @media (max-width: 767px) {
        h3 {
          font-size: 20px;
          line-height: 20px;
        }
      }
      h4 {
        line-height: 16px;
        color: #fcfcfc;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 49px;
        padding: 0 10px;
      }
      a {
        line-height: 16px;
        color: #00ccff;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}
