
table.table {
  &.dataTable {
    td {
      .button-stack {
        margin-bottom: -10px;
        .btn {
          margin-bottom: 10px;
        }
        .btn:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
  th,
  td {
    font-size: 19px;
  }
}

.main-header .tablet-toggle {
  color: #fff;
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 15px 15px;
  font-family: fontAwesome;
  &:hover {
    background-color: #d73925;
  }
}

body.tablet-mode {
  .main-header .sidebar-toggle {
    display: none;
  }
  aside.main-sidebar {
    display: none;
  }
  .wrapper div.content-wrapper,
  .wrapper .right-side,
  .wrapper .main-footer {
    margin-left: 0px !important;
  }
  .main-header {
    background-color: #d73925;
    .logo {
      width: 50px;
      & > .logo-mini {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 18px;
      }
    }
    .navbar {
      margin-left: 50px;
    }
  }
  .form-group {
    label {
      font-size: 20px;
    }
    input[type=checkbox],
    input[type=radio] {
      margin-top: 8px;
    }
    .form-control {
      height: 50px;
      font-size: 20px;
    }
    .btn {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;
    }
    .btn:not(:last-child) {
      margin-right: 15px;
    }
  }
}