<template lang="pug">

  card.text-center(:title="$t('email_verification')")
    .card-message {{ $t('email_verification_succeeded') }}
    router-link.btn.btn-primary(:to="{ name: 'sign-in' }") Sign in

</template>
