<template lang="pug">

  .app-layout
    header.header.rewardsheader(:style="{ 'background-image': headingBackground }")
      .heading-container
        .heading {{ heading }}
    child(v-if="plainLayout")
    .white-section(v-else="")
      .container
        child

</template>

<script>
import SettingsService from '../services/settings';

export default {
  name: 'app-layout',

  data: () => ({
    heading: null,
    plainLayout: false,
    headingBackground: "linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.2))",
    settings: null
  }),

  mounted() {
    for (var e of document.getElementsByClassName('footer')) {
      e.style.display = 'block';
    }
  },

  async created() {
    this.settings = await SettingsService.index();

    const backgroundImage = this.settings['heading.background_image'];
    this.headingBackground = `${this.headingBackground},url('${backgroundImage}')`;

    this.setRouteHeading(this.$route)
    this.$router.afterEach(to => this.setRouteHeading(to))
  },

  methods: {
    setRouteHeading(route) {
      this.heading = 'heading' in route.meta && route.meta.heading.length ? this.settings[`heading.${route.meta.heading}`] : null;
      this.plainLayout = 'plainLayout' in route.meta && route.meta.plainLayout;
    }
  }
}
</script>
