h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
}

a {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fe4743;
  text-decoration: none;
}

a:hover {
  color: #1cc2ec;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.clearnavigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  height: 80px;
  border-style: solid solid none;
  border-width: 0px 0px 1px;
  border-color: #000 #000 hsla(0, 0%, 100%, .25);
  background-color: rgba(37, 37, 37, .84);
}

.navlink {
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.navlink:hover {
  color: #ffe000;
}

.navlink.w--current {
  color: #ffe000;
}

.navlink.bottomnav {
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 500;
}

.navlink.toplink {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 11px;
  font-weight: 300;
}

.textblock {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
}

.textblock.white {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
}

._50div {
  position: absolute;
  left: 0px;
  top: 50%;
  right: 0px;
  z-index: 1;
  padding-right: 7px;
  padding-left: 7px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.zero {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 0px;
}

.darknavigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: none;
  height: 80px;
  background-color: #252525;
  opacity: 0;
}

.brand {
  position: absolute;
  width: 175px;
  margin-top: 5px;
  margin-left: 50px;
}

.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: #252525;
}

.footerdiv {
  position: relative;
  display: inline-block;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
}

.footerdiv.socialfooter {
  text-align: right;
}

.footerlink {
  display: inline-block;
  clear: both;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}

.footerlink:hover {
  color: #ffe000;
}

.footerlink.notalink:hover {
  color: #fff;
}

.footerlinkwrap {
  margin-bottom: 10px;
}

.footerlinkwrap.nomargin {
  margin-bottom: 0px;
}

.footerlinkwrap.nomargin.newsletterdiv {
  margin-top: 5px;
}

.footerlinkwrap.nomargin.right {
  text-align: right;
}

.footerlinkwrap.signup {
  position: relative;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 225px;
  margin-top: -15px;
  margin-right: -10px;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.footersociallinkblocks {
  width: 32px;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.footersociallinkblocks:hover {
  opacity: 1;
}

.h1 {
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.footeroffooter {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
}

.center {
  text-align: center;
}

.black-section {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #252525;
  text-align: center;
}

.dummy {
  display: none;
}

.navmenu {
  padding-right: 50px;
}

.navmenu.top {
  margin-top: 5px;
}

.newsletterfooter {
  font-family: 'Open Sans', sans-serif;
  color: #1cc2ec;
  font-weight: 600;
}

.header {
  position: relative;
  min-height: 500px;
  background-color: #252525;
}

.header.register {
  background-image: url('../images/BTFCover.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.red-section {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #fe4743;
  text-align: center;
}

.white-section {
  min-height: 300px;
  padding-top: 80px;
  padding-right: 0px;
  padding-bottom: 50px;
}

.div {
  text-transform: uppercase;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f5f5f5;
  font-size: 45px;
  line-height: 50px;
}

.h2.margin-shrink {
  margin-bottom: 20px;
  line-height: 45px;
}

.h2shrink {
  font-size: 27px;
  line-height: 27px;
}

.link {
  font-family: 'Open Sans', sans-serif;
  color: #1cc2ec;
  font-size: 13px;
  font-weight: 600;
  text-transform: none;
}

.link:hover {
  color: #fe4743;
}

.link.whitelink {
  color: #f5f5f5;
}

.link.whitelink:hover {
  color: #1cc2ec;
}

.h3 {
  font-family: Montserrat, sans-serif;
  color: #f5f5f5;
  font-size: 40px;
  line-height: 40px;
}

.newmenu-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  height: 80px;
  border-style: solid solid none;
  border-width: 0px 0px 1px;
  border-color: #000 #000 hsla(0, 0%, 100%, .25);
  background-color: rgba(37, 37, 37, .84);
}

@media (max-width: 991px) {
  .clearnavigation {
    height: 70px;
  }
  .navlink {
    display: block;
    width: 250px;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .navlink.bottomnav {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .navlink.toplink {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
  }
  .darknavigation {
    height: 70px;
  }
  .menubutton {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 70px;
    height: 70px;
    background-color: #fe4743;
  }
  .menubutton.w--open {
    background-color: #1cc2ec;
  }
  .line1 {
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    background-color: #fff;
  }
  .line2 {
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    background-color: #fff;
  }
  .line3 {
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    background-color: #fff;
  }
  .dummy {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    display: inline-block;
    width: 70px;
    height: 70px;
  }
  .navmenu {
    padding-bottom: 25px;
    background-color: hsla(0, 0%, 40%, .97);
  }
  .navmenu.top {
    margin-top: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .newmenu-flex {
    display: block;
  }
  .navigation {
    height: 70px;
  }
}

@media (max-width: 767px) {
  .brand {
    width: 150px;
    margin-left: 15px;
  }
  .footerdiv {
    width: 100%;
    text-align: center;
  }
  .footerdiv.center {
    text-align: center;
  }
  .footerdiv.socialfooter {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .footerlinkwrap.nomargin.right {
    text-align: center;
  }
  .footerlinkwrap.signup {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .black-section {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (max-width: 479px) {
  .textblock {
    line-height: 23px;
  }
  .textblock.white {
    font-size: 17px;
  }
  ._50div {
    padding-right: 15px;
    padding-left: 15px;
  }
  .brand {
    width: 125px;
    margin-left: 0px;
  }
  .h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .black-section {
    padding-right: 25px;
    padding-left: 25px;
  }
  .navmenu {
    padding-right: 0px;
  }
  .header.register {
    min-height: 400px;
  }
  .red-section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .h2.margin-shrink {
    margin-top: 5px;
    font-size: 28px;
    line-height: 28px;
  }
  .h2shrink {
    font-size: 15px;
    line-height: 17px;
  }
  .h3 {
    font-size: 28px;
    line-height: 28px;
  }
}

